@import "tailwindcss";

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 1170px;
}

.btn_after {
    position: relative;
}

.btn_after::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    background: white;
    width: 81px;
    height: 2px;
}

.slick-dots {
    position: absolute;
    bottom: 0 !important;
    left: 50% !important;
    transform: translateX(-50%);
    z-index: 100;
}

.slick-dots li {
    width: 10px !important;
    height: 10px !important;
    border: 2px solid #7D8184 !important;
    background-color: #7D8184 !important;
    font-size: 0 !important;
    border-radius: 50% !important;
}

.slick-dots li button {
    opacity: 0;
}
.slick-dots li.slick-active {
    background: #DB4444 !important;
    border: 2px solid white !important;
}